.external {
    margin: 25px;
    width: 200px;
    height: 200px;
    border: solid 1px black;
}

.internal {
    width: 95%;
    height: 90%;
    margin-top: 20px;
    word-wrap: break-word;
}

.close {
    padding: 0;
    position: absolute;
    margin-left: 180px;
    margin-top: -20px;
    width: 40px;
    height: 40px;
    border: solid 1px black;
    color: red;
    background-color: white;
    align-content: center;
    border-radius: 50%;
}
